@{
    ViewData["Title"]="當日派工";    
    @using System.Data;
    DataTable Order_dt = (DataTable)ViewData["Order_Table"];
    DataTable Dispatch_dt = (DataTable)ViewData["Dispatch_Table"];
}
    <div class="form-group">
    <label >工令編號</label>&nbsp;<span id="order-span" style="color:red;display:none">*工令編號必須選擇</span>
    <select class="custom-select" id="order">
        <option selected>請選擇工令編號</option>          
        @for(int i=0;i<Order_dt.Rows.Count;i++)
        {
            <option value=@Order_dt.Rows[i][0]>@Order_dt.Rows[i][0]</option>
        }
    </select>
    </div>
    <table id="Dispatch_Table" class="table table-hover tablesorter">
        <thead class="thead-light">
            <tr>
                <!-- <th></th> -->
                <th>道次流程</th>
                <th>道次名稱</th>
                <th>產品代號</th>
                <th>產品名稱</th>
                <th>作業人員</th>
                <th>預計作業時間(小時)</th>
                <th>預計作業數量</th>
            </tr>
        </thead>
        <tbody id="Dispatch_Tbody">                          
              
        </tbody>
    </table>
     <div style="text-align:center">
          <button type="button" id="Data_Dispatch_btn" class="btn btn-secondary btn-lg" style="width:150px">派工</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" id="Data_Clear_btn" class="btn btn-secondary btn-lg" style="width:150px">清除</button>
      </div>   
    <div class="line"></div>
    <h1>當日已派工資訊</h1>
    <table id="Dispatch_Y_Table" class="table table-hover tablesorter">
        <thead class="thead-light">
            <tr>
                <th>工令編號</th>
                <th>道次流程</th>
                <th>道次名稱</th>
                <th>產品代號</th>
                <th>產品名稱</th>
                <th>預計作業人員</th>
                <th>預計作業時間(小時)</th>
                <th>預計作業數量</th>
            </tr>
        </thead>
        <tbody id="Dispatch_Y_Tbody">
            @for (int i = 0; i < Dispatch_dt.Rows.Count; i++)
            {
                <tr>
                    <td>@Dispatch_dt.Rows[i][0]</td>
                    <td>@Dispatch_dt.Rows[i][1]</td>
                    <td>@Dispatch_dt.Rows[i][2]</td>
                    <td>@Dispatch_dt.Rows[i][3]</td>
                    <td>@Dispatch_dt.Rows[i][4]</td>
                    <td>@Dispatch_dt.Rows[i][5]</td>
                    <td>@Dispatch_dt.Rows[i][6]</td>
                    <td>@Dispatch_dt.Rows[i][7]</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="line"></div>
    <script>
        $("#order").change(function(){
                var order = document.getElementById("order").value;
                var dispatch_table = $("#Dispatch_Table").tablesorter({sortList: [[0,0],[1,0]]})                
                judge("order-span",order);
                if(order!='請選擇工令編號'){
                    $.ajax(
                        {
                            url: "@Url.Action("Get_Dispatch_Data","Home")",
                            method: "get",
                            contentType: 'application/json',                                                                                 
                            data:
                            {                          
                                order:order
                            },  
                            success:function(data){
                                $("#Dispatch_Tbody").html("");
                                var result = JSON.parse(data);
                                var str = '';
                                $.each(result,function(i,item){
                                    console.log(i+"\t"+item.process+"\t"+item.processname+"\t"+item.productid+"\t"+item.product+"\t"+item.staff_name[0]+"\t"+item.quantity);
                                    var cou = $("#Dispatch_Tbody tr").length;                             
                                    //if(i!=0){
                                    //    if(item.Process.toString().indexOf(str)==-1){
                                    //        $("#Dispatch_Tbody").append(function(){
                                    //        return "<tr role=\"row\">"+
                                    //                    //"<td><input type=\"checkbox\"  class=\"form-check-input\" id=\"time\"  /></td>"+
                                    //                    "<td>"+item.process+"</td>"+
                                    //                    "<td>"+item.processname+"</td>"+
                                    //                    "<td>"+item.productid+"</td>"+
                                    //                    "<td>"+item.product+"</td>"+
                                    //                    "<td style=\"width:350px\"><select class=\"custom-select\" id=\"staff\" selected=\"selected\"><option selected>請選擇作業人員</option></td>" +
                                    //                    "<td style=\"width:200px\"><input  type=\"number\" class=\"form-control\" id=\"time\"  step=\"0.5\" disabled=\"true\" placeholder=\"請輸入作業時數...\" /></td>" +                                                        
                                    //                    "<td style=\"width:200px\"><input  type=\"number\" class=\"form-control\" id=\"quantity\"  step=\"1\" disabled=\"true\" placeholder=\"剩餘數量"+item.quantity+"個...\" /><span id=\"qn\" style=\"display:none\">"+item.Leave_Quantity+"</span></td>"+                                                        
                                    //                    "</tr>";
                                    //    });
                                    //        if(item.StaffName!=''){
                                    //            $("#Dispatch_Tbody tr:eq("+(cou)+") td select").append("<option>"+item.StaffName+"</option>");        
                                    //            //$("tbody tr:eq("+(cou)+") td select").val("請選擇作業人員");                                                                                            
                                    //        }
                                    //    }
                                    //    else{
                                    //        $("#Dispatch_Tbody tr:eq("+(cou-1)+") td select").append("<option>"+item.StaffName+"</option>");                                            
                                    //    }                                        
                                    //} 
                                    //else{             
                                    //    $("#Dispatch_Tbody").append(function(){
                                    //        return "<tr role=\"row\">"+
                                    //                    //"<td><input type=\"checkbox\"  class=\"form-check-input\" id=\"time\"  /></td>"+
                                    //                    "<td>"+item.process+"</td>"+
                                    //                    "<td>"+item.processname+"</td>"+
                                    //                    "<td>"+item.productid+"</td>"+
                                    //                    "<td>"+item.product+"</td>"+
                                    //                    "<td style=\"width:350px\"><select class=\"custom-select\" id=\"staff\" selected=\"selected\"><option selected>請選擇作業人員</option></td>" +
                                    //                    "<td style=\"width:200px\"><input type=\"number\"  class=\"form-control\" id=\"time\"  step=\"0.5\" disabled=\"true\" placeholder=\"請輸入作業時數...\" /></td>" +                                                        
                                    //                    "<td style=\"width:200px\"><input type=\"number\" class=\"form-control\" id=\"quantity\"  step=\"1\" disabled=\"true\" placeholder=\"剩餘數量"+item.quantity+"個...\" /><span id=\"qn\" style=\"display:none\">"+item.Leave_Quantity+"</span></td>"+                                                        
                                    //                    "</tr>";
                                    //    });                                        
                                    //    if(item.StaffName!=''){
                                    //        $("#staff").append("<option>"+item.StaffName+"</option>");                                                
                                    //    }
                                    //}                                                            
                                    //str = item.Process;  

                                    $("#Dispatch_Tbody").append(function(){
                                            return "<tr role=\"row\">"+                                                        
                                                        "<td>"+item.process+"</td>"+
                                                        "<td>"+item.processname+"</td>"+
                                                        "<td>"+item.productid+"</td>"+
                                                        "<td>"+item.product+"</td>"+
                                                        "<td style=\"width:350px\"><select class=\"custom-select\" id=\"staff\" selected=\"selected\"><option selected>請選擇作業人員</option></td>" +
                                                        "<td style=\"width:200px\"><input  type=\"number\" class=\"form-control\" id=\"time\"  step=\"0.5\" disabled=\"true\" placeholder=\"請輸入作業時數...\" /></td>" +                                                        
                                                        "<td style=\"width:200px\"><input  type=\"number\" class=\"form-control\" id=\"quantity\"  step=\"1\" disabled=\"true\" placeholder=\"剩餘數量"+item.quantity+"個...\" /><span id=\"qn\" style=\"display:none\">"+item.quantity+"</span></td>"+                                                        
                                                        "</tr>";
                                    });
                                    $.each(item.staff_name, function (j, content) {
                                        $("#Dispatch_Tbody tr:eq("+cou+") td select").append("<option>"+content+"</option>");
                                    });                                    

                                });    
                                var resort = true,
                                callback = function(){ console.log('table updated'); };
                                dispatch_table.trigger("update", [ resort, callback ]);                                                            
                            },
                            error:function(d){
                                $.alert({
                                    icon:"fas fa-exclamation-triangle",
                                    title: "錯誤",
                                    content: "404. Please wait until the File is Loaded.",
                                });
                                //alert("404. Please wait until the File is Loaded.");
                                $("#Dispatch_Tbody").html("");
                            }
                        });                        
                }
                else{
                    $("#Dispatch_Tbody").html("");
                }
        });

        $("#Dispatch_Table").on("input", "td", function () {                    
                    var value = $(this).find("select").val();         
                    var ind = $(this).parent("tr").index();      
                    var max_value = parseInt($(this).find("span").text());
                    var ID = $(this).find("input").attr("id");
                    $(this).find("input").val(function(n,c){ 
                        //c=c.replace(/[^\d]/g, '').replace(/^0{1,}/g, '');
                        c = c.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g, '');
                        if (ID == "time") {
                            if(c!='' && c<=12){
                               return c; 
                            }           
                            else  if(c>12){
                                $.alert({
                                    icon:"fas fa-exclamation-triangle",
                                    title: "錯誤",
                                    content: "作業時數不可超過12小時",
                                });                                
                                return '';
                            }
                            else{
                                return '';
                            } 
                        }
                        else {
                            c = parseInt(c);
                            if(c!='' && c<=max_value){
                               return c; 
                            }           
                            else  if(c>max_value){
                                $.alert({
                                    icon:"fas fa-exclamation-triangle",
                                    title: "錯誤",
                                    content: "作業數量不可超過工令作業數量:"+max_value+"個",
                                });                                
                                return '';
                            }
                            else{
                                return '';
                            } 
                        }                               
                        //return c.replace(/[^\d]/g, '').replace(/^0{1,}/g, '');
                    });                    
                    if(value == '請選擇作業人員'){
                        $("tbody tr:eq("+ind+") td:eq(5) input").attr('disabled','true');
                        $("tbody tr:eq(" + ind + ") td:eq(5) input").val('');
                        $("tbody tr:eq("+ind+") td:eq(6) input").attr('disabled','true');
                        $("tbody tr:eq("+ind+") td:eq(7) input").val('');
                    }
                    else{
                        $("tbody tr:eq("+ind+") td:eq(5) input").removeAttr('disabled');
                        $("tbody tr:eq("+ind+") td:eq(6) input").removeAttr('disabled');
                    }
                    //this.value = this.value.replace(/[^\d]/g, '').replace(/^0{1,}/g, '');
                });
        $("#Data_Clear_btn").click(function(){
            document.getElementById("order").value = '請選擇工令編號';
            $("#order").trigger("change");
        });

        $("#Data_Dispatch_btn").on('click',function(){            
            //var val = document.getElementsByTagName("tr"); $("#Dispatch_Tbody")[0].children[0].children[4].children[0].value
            var val = $("#Dispatch_Tbody");
            var order = document.getElementById("order").value;                    
            var dispatch_y_table = $("#Dispatch_Y_Table").tablesorter({sortList: [[0,0],[1,0]]})    
            if(order != '請選擇工令編號'){
                var arr = new Array();
                $.each(val,function(i,item){                              
                    for(j=0;j<item.childElementCount;j++)
                    {
                        var process = item.children[j].children[0].innerText;
                        var processname = item.children[j].children[1].innerText;
                        var productid = item.children[j].children[2].innerText;
                        var product = item.children[j].children[3].innerText;
                        var staff = item.children[j].children[4].children[0].value;
                        var time = item.children[j].children[5].children[0].value;
                        var quantity = item.children[j].children[6].children[0].value;
                        
                        /*
                        var process = item.children[0].innerText;
                        var processname = item.children[1].innerText;
                        var productid = item.children[2].innerText;
                        var product = item.children[3].innerText;
                        var staff = item.children[4].children[0].value;
                        var time = item.children[5].children[0].value;
                        */
                        if(staff != '請選擇作業人員' && time !='' && quantity != ''){
                            var obj = new Object();
                            obj.order = order;
                            obj.process = process;
                            obj.processname = processname;
                            obj.productid = productid;
                            obj.product = product;
                            obj.staff = staff;
                            obj.time = time;
                            obj.quantity = quantity;
                            arr = arr.concat(obj);
                        }
                        else{
                            $.alert({
                                icon:"fas fa-exclamation-triangle",
                                title: "錯誤",
                                content: "有資料尚未輸入完成,請確認",
                            });
                            //alert('有資料尚未輸入完成,請確認');
                            exit;
                        }                    
                        console.log(order+'\t'+process+'\t'+processname+'\t'+productid+'\t'+product+'\t'+staff+'\t'+time+'\t'+quantity);
                    }                                                               
                });  
                if(arr.length==0){
                    $.alert({
                                icon:"fas fa-exclamation-triangle",
                                title: "錯誤",
                                content: "請選擇欲派工之道次人員資料",
                            });
                    //alert('請選擇欲派工之道次人員資料');
                }   
                else {
                    $.confirm({
                        title: "派工資料確認",
                        content: "請確認派工資料是否正確",
                        buttons: {
                            "派工": function () {
                                $.ajax(
                                {
                                    url: "@Url.Action("Dispatch_Data","Home")",
                                    method: "get",
                                    contentType: 'application/json',      
                                    data:
                                    {
                                        data:JSON.stringify(arr)
                                    },
                                    success:function(data){
                                        //var result = JSON.parse(data);
                                        //$.each(result,function(i,item){                                
                                        //    $("#Dispatch_Y_Tbody").append(function(){
                                        //        return "<tr role=\"row\">"+                                                
                                        //                    "<td>"+item.order+"</td>"+
                                        //                    "<td>"+item.process+"</td>"+
                                        //                    "<td>"+item.processname+"</td>"+
                                        //                    "<td>"+item.productid+"</td>"+
                                        //                    "<td>"+item.product+"</td>"+
                                        //                    "<td>"+item.staff+"</td>"+
                                        //                    "<td>"+item.time+"</td>"+
                                        //                    "</tr>";
                                        //    });
                                        //});                                                                                                
                                        //var resort = true,
                                        //callback = function(){ console.log('table updated'); };
                                        //dispatch_y_table.trigger("update", [ resort, callback ]);
                                        $.alert({
                                            title: "派工結果",
                                            content: data,
                                        });
                                        location.reload();
                                    },
                                    error:function(d){
                                        $.alert({
                                            icon:"fas fa-exclamation-triangle",
                                            title: "錯誤",
                                            content: "404. Please wait until the File is Loaded.",
                                        });
                                    }
                                }); 
                            },
                            "取消": function () {

                            }
                        }
                    });                                       
                }                                       
            }
            else{
                $.alert({
                                icon:"fas fa-exclamation-triangle",
                                title: "錯誤",
                                content: "請選擇欲派工之工令編號",
                            });
                //alert('請選擇欲派工之工令編號');
            }
            
        });

        function judge(id,val) {
              if (val == '' || val == '請選擇工令編號' ) {                  
                  $("span[id=" + id + "]").show();
              } else {
                  $("span[id=" + id + "]").hide();
              }
          }
    </script>