@{
    ViewData["Title"] = "機台資訊";
    @using System.Data;
    DataTable dt = (DataTable)ViewData["Table"];
    DataTable Machine_Table = (DataTable)ViewData["Machine_Table"];
}
    <table class="table">
        <tbody>
            <tr>
                <div class="form-group">
                    <label>機台代號</label>&nbsp;<span id="product-id-span" style="color:red;display:none">機台代號必須選擇</span>
                    <select class="custom-select" id="product-id">
                        <option selected>請選擇機台代號</option>
                        <option>All</option>
                        @for (int i = 0; i < dt.Rows.Count; i++)
                        {
                            <option value=@dt.Rows[i][0]>@dt.Rows[i][0]</option>
                        }
                    </select>
                </div>
                <td>機台編號:<input type="text" /></td>
                <td>機台名稱:<input type="text" /></td>
                <td>目前道次:<input type="text" /></td>

            </tr>            
        </tbody>
    </table>    
    <div style="text-align:center">
        <button type="button" id="Data_Insert_btn" class="btn btn-secondary btn-lg" style="width:150px">送出</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="Data_Clear_btn" class="btn btn-secondary btn-lg" style="width:150px">清除</button>
    </div>           
    <br>
    <table id="Machine_Table" class="table table-hover tablesorter">

        <thead class="thead-light">
            <tr>
                <th>機台編號</th>
                <th>機台名稱</th>
                <th>目前道次</th>
                <th>目前狀態</th>
            </tr>
        </thead>
        <tbody id="machine_body">
            @*@for (int i = 0; i < dt.Rows.Count; i++)
            {
                <tr>
                    <td>@dt.Rows[i][0]</td>
                    <td>@dt.Rows[i][1]</td>
                    <td>@dt.Rows[i][2]</td>
                    <td>@dt.Rows[i][3]</td>
                </tr>
            }*@
        </tbody>        
    </table>
<div class="line"></div>
<script>
    $("#product-id").change(function ()
    {
        var machine = document.getElementById("product-id").value;        
        $.ajax(
            {
                url: "@Url.Action("Get_Machine_Data","Home")",
                method: "get",
                contenType: 'application/json',
                data:
                {
                    machine:machine
                },
                success: function (data) {
                    $("#machine_body").html("");
                    var result = JSON.parse(data);
                    $.each(result, function (i, item) {
                        $("#machine_body").append(function () {
                            return "<tr>" +
                                "<td>" + item.machinenum + "</td>" +
                                "<td>" + item.machinename + "</td>" +
                                "<td>" + item.localprocess + "</td>" +
                                "<td>" + item.Status + "</td>" +
                                "</tr>";
                        });
                    });
                },
                error: function (e) {
                    $.alert({
                        icon:"fas fa-exclamation-triangle",
                        title: "錯誤",
                        content: "404. Please wait until the File is Loaded.",
                    });
                    $("#machine_body").html("");
                }

            });
    });
    $("#Data_Insert_btn").on('click', function () {
        var num = $("input").eq(0).val();
        var name = $("input").eq(1).val();
        var process = $("input").eq(2).val();
        var status = $("input").eq(3).val();
        $.confirm(
        {
            title: "資料確認",
            content: "請確認資料是否正確<br>機台編號:" + num + "<br>機台名稱:" + name + "<br>目前道次:" + process ,
            buttons:
            {
                "新增": function () {
                    $.ajax(
                    {
                        url: "@Url.Action("Uptate_Machine_Inf","Home")",
                        method: "get",
                        contenType: 'application/json',
                        data:
                        {
                            machine_num: num,
                            machine_name: name,
                            process: process,
                            status:status
                        },
                        success: function (data) {
                            $.alert({
                                icon:"fas fa-exclamation-triangle",
                                title: "結果",
                                content: data,
                            });
                                //location.reload();
                        },
                        error: function (e) {
                            $.alert({
                                icon:"fas fa-exclamation-triangle",
                                title: "錯誤",
                                content: "404. Please wait until the File is Loaded.",
                            });
                        }
                    });
                },
                "取消": function () {

                }
            }
        });        
    });

    $("#Data_Clear_btn").on('click', function () {
        $("input").val('');
    });
    //Machine_Table
     $("#Machine_Table").on("click", "td", function () {
                var x = $(this).attr('id');
                var id = $(this).text();                
                if ($(this).index() == 0) {                                        
                    var machine_num = $(this).parent("tr").find("td").eq(0).text();
                    var newwin = window.open();   //此行一定要如此書寫,否則失效
                    newwin.location = '/Home/Machine_Inf_Page2?machine_num='+machine_num;
                }
              
            });
</script>

