@{
    ViewData["Title"]="人員資訊";    
    @using System.Data;    
    DataTable dt  = (DataTable)ViewData["Table"];  
    DataTable Stuff_Table = (DataTable)ViewData["Machine_Table"];
}
   
            <table class="table">
                <tbody>
                    <tr>
                        <div class="form-group">
                            <label>人員編號</label>&nbsp;<span id="product-id-span" style="color:red;display:none">機台代號必須選擇</span>
                            <select class="custom-select" id="product-id">
                                <option selected>請選擇產品代號</option>
                                @for (int i = 0; i < dt.Rows.Count; i++)
                                {
                                    <option value=@dt.Rows[i][0]>@dt.Rows[i][0]</option>
                                }
                            </select>
                        </div>
                        <td>人員編號:<input type="text" /></td>
                        <td>姓名:<input type="text" /></td>
                        <td>執行道次:<input type="text" /></td>
                        @*<td>假況:<input type="text" /></td>*@
                    </tr>

                </tbody>
            </table>
            <div style="text-align:center">
                <button type="button" id="Data_Insert_btn" class="btn btn-secondary btn-lg" style="width:150px">送出</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="Data_Clear_btn" class="btn btn-secondary btn-lg" style="width:150px">清除</button>
            </div>
            <br>
            <table id="Staff_Table" class="table table-hover tablesorter">

                <thead class="thead-light">
                    <tr>
                        <th>人員編號</th>
                        <th>姓名</th>
                        <th>執行道次</th>
                        <th>假況</th>
                    </tr>
                </thead>
                <tbody id="staff_body">
                    @*@for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        <tr>
                            <td>@dt.Rows[i][0]</td>
                            <td>@dt.Rows[i][1]</td>
                            <td>@dt.Rows[i][2]</td>
                            <td>@dt.Rows[i][3]</td>
                        </tr>
                    }*@
                </tbody>
            </table>
            <div class="line"></div>
            <script>
                $("#product-id").change(function () {
        var staff = document.getElementById("product-id").value;        
        $.ajax(
            {
                url: "@Url.Action("Get_Staff_Data","Home")",
                method: "get",
                contenType: 'application/json',
                data:
                {
                    staff:staff
                },
                success: function (data) {
                    $("#staff_body").html("");
                    var result = JSON.parse(data);
                    $.each(result, function (i, item) {
                        $("#staff_body").append(function () {
                            return "<tr>" +
                                "<td>" + item.staffnum + "</td>" +
                                "<td>" + item.staffname + "</td>" +
                                "<td>" + item.process + "</td>" +
                                "<td>" + item.Status + "</td>" +
                                "</tr>";
                        });
                    });
                },
                error: function (e) {
                    $.alert({
                        icon:"fas fa-exclamation-triangle",
                        title: "錯誤",
                        content: "404. Please wait until the File is Loaded.",
                    });
                    $("#staff_body").html("");
                }

            });
    });
    $("#Data_Insert_btn").on('click', function () {
        var num = $("input").eq(0).val();
        var name = $("input").eq(1).val();
        var process = $("input").eq(2).val();
        var status = $("input").eq(3).val();
        $.confirm(
        {
            title: "資料確認",
            content: "請確認資料是否正確<br>人員編號:" + num + "<br>姓名:" + name + "<br>執行道次:" + process + "<br>假況:" + status,
            buttons:
            {
                "新增": function () {
                    $.ajax(
                    {
                        url: "@Url.Action("Uptate_Staff_Inf","Home")",
                        method: "get",
                        contenType: 'application/json',
                        data:
                        {
                            staff_num: num,
                            staff_name: name,
                            process: process,
                            status:status
                        },
                        success: function (data) {
                            $.alert({
                                icon:"fas fa-exclamation-triangle",
                                title: "結果",
                                content: data,
                            });
                                //location.reload();
                        },
                        error: function (e) {
                            $.alert({
                                icon:"fas fa-exclamation-triangle",
                                title: "錯誤",
                                content: "404. Please wait until the File is Loaded.",
                            });
                        }
                    });
                },
                "取消": function () {

                }
            }
        });
    });

    $("#Data_Clear_btn").on('click', function () {
        $("input").val('');
    });
     $("#Staff_Table").on("click", "td", function () {
                var x = $(this).attr('id');
                var id = $(this).text();                
                if ($(this).index() == 0) {                                        
                    var staff_num = $(this).parent("tr").find("td").eq(0).text();
                    var newwin = window.open();   //此行一定要如此書寫,否則失效
                    newwin.location = '/Home/Staff_lnf_Page2?staff_num='+staff_num;
                }
              
            });

            </script>