@{
    ViewData["Title"]="產線派工情況";    
    @using System.Data;
    DataTable dt = (DataTable)ViewData["WorkStatus_Table"];
}
   <input class="form-control" id="WorkStatus_Input" type="text" placeholder="請輸入工令編號..."><br>
    <table id="WorkStatus_Table" class="table table-hover tablesorter">
        <thead class="thead-light">
            <tr>
            <th>工令編號</th>
            <th>產品代號</th>
            <th>產品名稱</th>
            <th>機台編號</th>
            <th>機台名稱</th>
            <th>發派作業時間</th>
            <th>實際作業時間</th>
            <th>發派產出數量</th>
            <th>實際產出數量</th>            
            </tr>
        </thead>
        <tbody>                          
               @for(int i=0;i<dt.Rows.Count;i++)
               {
                   <tr>
                       <td>@dt.Rows[i][0]</td>
                       <td>@dt.Rows[i][1]</td>
                       <td>@dt.Rows[i][2]</td>
                       <td>@dt.Rows[i][3]</td>
                       <td>@dt.Rows[i][4]</td>
                       <td>@dt.Rows[i][5]</td>                       
                       <td>@dt.Rows[i][5]</td>
                       <td>@dt.Rows[i][6]</td>                       
                       <td>@dt.Rows[i][6]</td>                       
                   </tr>
               }
        </tbody>
    </table>
    <div class="line"></div>