@{
    ViewData["Title"] = "當日產線即時情況";
    @using System.Data;
    DataTable dt = (DataTable)ViewData["WorkStatus_Table"];
    DataTable Machine_dt = (DataTable)ViewData["Machine_Status_Table"];
}
    <div class="row" style="margin: 0 auto;width: 42%;">
        <div class="col green" id="col">
            <i class="fas fa-play" style="font-size: 2.5rem;color: white;"></i>
            <div style="width: 100%;text-align: center;">
                運轉中
            </div>
        </div>
        <div class="col orange" id="col">
            <i class="fas fa-pause" style="font-size: 2.5rem;color: white;"></i>
            <div style="width: 100%;text-align: center;">
                待機中
            </div>
        </div>
        <div class="col gray" id="col">
            <i class="fas fa-power-off" style="font-size: 2.5rem;color: white;"></i>
            <div style="width: 100%;text-align: center;">
                停機中
            </div>
        </div>
    </div>
    <br>               

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 1.5rem;font-weight: bold;cursor:pointer">
                A線機台生產狀態
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                <table class="table table-borderless">
                    <tbody>                        
                        @{ int cou = 0;int loop=0 ; bool flag = false; bool fla = false;bool wrap = false;}
                        @while(flag==false)
                        {
                            <tr>
                                @while(fla == false)
                                {
                                    @for (int i = loop; i < Machine_dt.Rows.Count; i++)
                                    {                                        
                                        if(Machine_dt.Rows[i][0].ToString()=="A")
                                        {
                                            if(cou%6==0 && cou!=0 && wrap==true)
                                            {
                                                fla = true;
                                                wrap = false;
                                                break;
                                            }
                                            else
                                            {
                                                wrap = true;
                                                <td>
                                                <div class="card click" data-toggle="modal" data-target="#exampleModalCenter" style="width: 18rem;margin: 0 auto;border:0.5px solid #fafafa">
                                                    <div class="card-body @Machine_dt.Rows[i][3].ToString()">
                                                        <span id="machine-num" style="display:none">@Machine_dt.Rows[i][1]</span>
                                                        <span id="order" style="display:none">@Machine_dt.Rows[i][4]</span>
                                                        <span id="product" style="display:none">@Machine_dt.Rows[i][5]</span>
                                                        <span id="quantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                        <span id="requestquantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                        <p class="card-text @Machine_dt.Rows[i][3].ToString()">@Machine_dt.Rows[i][2]</p>
                                                        <img class="card-img-top" src="~/img/CNC.png" data-holder-rendered="true" style="height: 180px;width: 100%;">
                                                    </div>
                                                </div>
                                                </td>                                                                         
                                            }                                            
                                            cou++;
                                        }
                                        if(i==Machine_dt.Rows.Count-1)
                                        {
                                            flag = true;
                                            fla = true;
                                            break;
                                        }
                                        loop++;
                                    }
                                }
                            </tr>
                            fla = false;
                        }                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="font-size: 1.5rem;font-weight: bold;cursor:pointer">
                B線機台生產狀態
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            @{ cou = 0; loop = 0;  flag = false;  fla = false;  wrap = false;}
                            @while (flag == false)
                            {
                                <tr>
                                    @while (fla == false)
                                    {
                                        @for (int i = loop; i < Machine_dt.Rows.Count; i++)
                                        {
                                            if (Machine_dt.Rows[i][0].ToString() == "B")
                                            {
                                                if (cou % 6 == 0 && cou != 0 && wrap == true)
                                                {
                                                    fla = true;
                                                    wrap = false;
                                                    break;
                                                }
                                                else
                                                {
                                                    wrap = true;
                                                    <td>
                                                        <div class="card click" data-toggle="modal" data-target="#exampleModalCenter" style="width: 18rem;margin: 0 auto;border:0.5px solid #fafafa">
                                                            <div class="card-body @Machine_dt.Rows[i][3].ToString()">
                                                                <span id="machine-num" style="display:none">@Machine_dt.Rows[i][1]</span>
                                                                <span id="order" style="display:none">@Machine_dt.Rows[i][4]</span>
                                                                <span id="product" style="display:none">@Machine_dt.Rows[i][5]</span>
                                                                <span id="quantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                                <span id="requestquantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                                <p class="card-text @Machine_dt.Rows[i][3].ToString()">@Machine_dt.Rows[i][2]</p>
                                                                <img class="card-img-top" src="~/img/CNC.png" data-holder-rendered="true" style="height: 180px;width: 100%;">
                                                            </div>
                                                        </div>
                                                    </td>

                                                }
                                                cou++;
                                            }
                                            if (i == Machine_dt.Rows.Count - 1)
                                            {
                                                flag = true;
                                                fla = true;
                                                break;
                                            }
                                            loop++;
                                        }
                                    }
                                </tr>
                                fla = false;
                            }
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="font-size: 1.5rem;font-weight: bold;cursor:pointer">
                C線機台生產狀態
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            @{ cou = 0; loop = 0; flag = false; fla = false; wrap = false;}
                            @while (flag == false)
                            {
                                <tr>
                                    @while (fla == false)
                                    {
                                        @for (int i = loop; i < Machine_dt.Rows.Count; i++)
                                        {
                                            if (Machine_dt.Rows[i][0].ToString() == "C")
                                            {
                                                if (cou % 6 == 0 && cou != 0 && wrap == true)
                                                {
                                                    fla = true;
                                                    wrap = false;
                                                    break;
                                                }
                                                else
                                                {
                                                    wrap = true;
                                                    <td>
                                                        <div class="card click" data-toggle="modal" data-target="#exampleModalCenter" style="width: 18rem;margin: 0 auto;border:0.5px solid #fafafa">
                                                            <div class="card-body @Machine_dt.Rows[i][3].ToString()">
                                                                <span id="machine-num" style="display:none">@Machine_dt.Rows[i][1]</span>
                                                                <span id="order" style="display:none">@Machine_dt.Rows[i][4]</span>
                                                                <span id="product" style="display:none">@Machine_dt.Rows[i][5]</span>
                                                                <span id="quantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                                <span id="requestquantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                                <p class="card-text @Machine_dt.Rows[i][3].ToString()">@Machine_dt.Rows[i][2]</p>
                                                                <img class="card-img-top" src="~/img/CNC.png" data-holder-rendered="true" style="height: 180px;width: 100%;">
                                                            </div>
                                                        </div>
                                                    </td>

                                                }
                                                cou++;
                                            }
                                            if (i == Machine_dt.Rows.Count - 1)
                                            {
                                                flag = true;
                                                fla = true;
                                                break;
                                            }
                                            loop++;
                                        }
                                    }
                                </tr>
                                fla = false;
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" style="font-size: 1.5rem;font-weight: bold;cursor:pointer">
                D線機台生產狀態
            </div>
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            @{ cou = 0; loop = 0; flag = false; fla = false; wrap = false;}
                            @while (flag == false)
                            {
                                <tr>
                                    @while (fla == false)
                                    {
                                        @for (int i = loop; i < Machine_dt.Rows.Count; i++)
                                        {
                                            if (Machine_dt.Rows[i][0].ToString() == "D")
                                            {
                                                if (cou % 6 == 0 && cou != 0 && wrap == true)
                                                {
                                                    fla = true;
                                                    wrap = false;
                                                    break;
                                                }
                                                else
                                                {
                                                    wrap = true;
                                                    <td>
                                                        <div class="card click" data-toggle="modal" data-target="#exampleModalCenter" style="width: 18rem;margin: 0 auto;border:0.5px solid #fafafa">
                                                            <div class="card-body @Machine_dt.Rows[i][3].ToString()">
                                                                <span id="machine-num" style="display:none">@Machine_dt.Rows[i][1]</span>
                                                                <span id="order" style="display:none">@Machine_dt.Rows[i][4]</span>
                                                                <span id="product" style="display:none">@Machine_dt.Rows[i][5]</span>
                                                                <span id="quantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                                <span id="requestquantity" style="display:none">@Machine_dt.Rows[i][6]</span>
                                                                <p class="card-text @Machine_dt.Rows[i][3].ToString()">@Machine_dt.Rows[i][2]</p>
                                                                <img class="card-img-top" src="~/img/CNC.png" data-holder-rendered="true" style="height: 180px;width: 100%;">
                                                            </div>
                                                        </div>
                                                    </td>

                                                }
                                                cou++;
                                            }
                                            if (i == Machine_dt.Rows.Count - 1)
                                            {
                                                flag = true;
                                                fla = true;
                                                break;
                                            }
                                            loop++;
                                        }
                                    }
                                </tr>
                                fla = false;
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle" style="font-weight:bold">機台生產資訊</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="Process_Table" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>機台名稱</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>當前工令</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>產品名稱</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>目前生產數</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>預劃生產數</th>
                                <td></td>
                            </tr>
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>
    </div>

    
<div class="line"></div>
<script>
    $(document).ready(function () {        
        $(".click").on('click', function () {
            var machine = $(this).find("p").text();
            var order = $(this).find("span").eq(1).text();
            var product = $(this).find("span").eq(2).text();
            var quantity = $(this).find("span").eq(3).text();
            var requestquantity = $(this).find("span").eq(4).text();            
            $("#Process_Table").find("td").eq(0).text(machine);     
            $("#Process_Table").find("td").eq(1).text(order);     
            $("#Process_Table").find("td").eq(2).text(product);     
            $("#Process_Table").find("td").eq(3).text("0");     
            $("#Process_Table").find("td").eq(4).text(requestquantity);    
        });
    });
</script>
